<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Danh Mục Sản Phẩm</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/images/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- CSS lib/raries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib//slick/slick.css" rel="stylesheet">
    <link href="/lib//slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- theme item shop -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/stylesheets/itemshop.css" rel="stylesheet">
    <link href="/stylesheets/1.css" rel="stylesheet">
    <link href="/stylesheets/3.css" rel="stylesheet">
    <link href="/stylesheets/6.css" rel="stylesheet">

    <!-- font google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">


</head>

<body>
    <!-- Top bar Start -->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-envelope"></i>
                    quangcuong.vu.98@gmail.com
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-phone-alt"></i>
                    +84354449090
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar End -->

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/" class="nav-item nav-link ">Tiki</a>
                        <a href="/" class="nav-item nav-link ">Fahasa</a>
                        <a href="/" class="nav-item nav-link ">lazada</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Login</a>
                                <a href="#" class="dropdown-item">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo" style="margin-left: 40px;">
                        <a href="/">
                            <img src="/images/logo.png" width="200px" height="150px" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="search">
                        <form method="GET" action="/search/">
                            <div class="tt-col">
                                <input type="text" class="tt-search-input" placeholder="Search" name="searchText">
                                <button class="tt-btn-search" type="submit"></button>

                            </div>
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    <!-- Main Slider Start -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav" >

                            <li class="nav-item">
                                <span style="color: red;padding-left: 15px;font-size: 24px;">Sách Tiếng Việt Nổi Bật</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-thieu-nhi.393.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Thiếu Nhi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-kinh-te.846.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Kinh Tế</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-van-hoc.839.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Văn Học</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-tam-ly-gioi-tinh.868.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Tâm Lý Giới Tính</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/truyen-tranh,-manga,-comic.1084.html"><i class="fa fa-square-o" aria-hidden="true"></i>Truyện Tranh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-ba-me-em-be.2527.html"><i class="fa fa-square-o" aria-hidden="true"></i>Bà Mẹ Em Bé</a>
                            </li>
                            

                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-kien-thuc-tong-hop.873.html"><i class="fa fa-square-o" aria-hidden="true"></i>Kiến Thức Tổng Hợp</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/category/sach-hoc-ngoai-ngu.887.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Học Ngoại Ngữ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/sach-chinh-tri-phap-ly.875.html"><i class="fa fa-square-o" aria-hidden="true"></i>Chính Trị Pháp Lý</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/category/sach-lich-su.880.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách lịch sử</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/category/tu-dien.887.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Từ Điển</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/category/sach-cong-nghe-thong-tin.876.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Công Nghệ Thông Tin</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/category/sach-lich-su.880.html"><i class="fa fa-square-o" aria-hidden="true"></i>Sách Lịch Sử</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/category/children's-books.7.html"><i class="fa fa-square-o" aria-hidden="true"></i>children's-books</a>
                            </li>
                            

                        </ul>
                    </nav>
                </div>
                <div class="col-md-8">
                    
                    <div class="row">
                        <%data.forEach(function(motphantu){%>
                        <%price_tiki=motphantu.price_book%>
                        <%list_price_tiki=motphantu.list_price%>
                        <%discount_tiki=motphantu.discount_rate%>
                
                        <%price_fahasa =motphantu.list_produce_fahasa[0].price_book%>
                        <%list_price_fahasa=motphantu.list_produce_fahasa[0].list_price%>
                        <%discount_fahasa=motphantu.list_produce_fahasa[0].discount_rate%>
                
                        <%price_lazada =motphantu.list_produce_lazada[0].price_book%>
                        <%list_price_lazada=motphantu.list_produce_lazada[0].list_price%>
                        <%discount_lazada=motphantu.list_produce_lazada[0].discount_rate%>
                        
                        
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="col-item">
                                <div class="post-img-content">
                                    <img src="<%=motphantu.img_book%>" class="img-responsive" />
                                    <% if(price_tiki <price_fahasa && price_tiki<price_lazada) {%>
                                        <span class="round-tag">-<%=discount_tiki%>%</span>
                                    <%}%>
                                    <% if(price_fahasa <price_tiki && price_fahasa<price_lazada) {%>
                                        <span class="round-tag">-<%=discount_fahasa%>%</span>
                                    <%}%>
                                    <% if(price_lazada <price_fahasa && price_lazada<price_tiki) {%>
                                        <span class="round-tag">-<%=discount_lazada%>%</span>
                                    <%}%>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a href="/chi-tiet/<%=motphantu.name_unicode%>.<%=motphantu.id_book%>.html"><span><%=motphantu.name_book%></span>
                                        </a>
                                    </div>
                                    <% if(price_tiki <=price_fahasa && price_tiki <=price_lazada) {%>
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5 class="price-text-color "><span class='number'><%=price_tiki%></span>₫</h5>
                                            </div>
                                            <div class="price col-md-6">
                                                <span class="list-price-text"><span
                                                        class='number text'><%=list_price_tiki%></span>₫</span>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add">
                                                    <img src="https://img.websosanh.vn/v2/users/logo/images/53mjoSwxCgpn.jpg?compress=85&width=50&height=30"
                                                        alt="Tiki">
                                                </p>
                                                <p class="btn-details">
                                                    <a href="/category/<%=motphantu.category_unicode%>.<%=motphantu.cat_id%>.html"
                                                        class="hidden-sm"><%=motphantu.category%></a>
                                                </p>
                                            </div>
                                        </div>
                                    <%}%>
                                    <% if(price_fahasa <price_tiki && price_fahasa <price_lazada) {%>
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5 class="price-text-color "><span class='number'><%=price_fahasa%></span>₫</h5>
                                            </div>
                                            <div class="price col-md-6">
                                                <span class="list-price-text"><span
                                                        class='number text'><%=list_price_fahasa%></span>₫</span>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add">
                                                    <img src="https://jobseekers.vn/wp-content/uploads/2019/05/Quy-Chuan-Logo.png"lt="fahasa" class='img_fahasa'>
                                                </p>
                                                <p class="btn-details">
                                                    <a href="/category/<%=motphantu.category_unicode%>.<%=motphantu.cat_id%>.html"
                                                        class="hidden-sm"><%=motphantu.category%></a>
                                                </p>
                                            </div>
                                        </div>
                                    <%}%>
                                    <% if(price_lazada <price_tiki && price_lazada <price_fahasa) {%>
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5 class="price-text-color "><span class='number'><%=price_lazada%></span>₫</h5>
                                            </div>
                                            <div class="price col-md-6">
                                                <span class="list-price-text"><span
                                                        class='number text'><%=list_price_lazada%></span>₫</span>
                                            </div>
                                            <div class="separator clear-left">
                                                <p class="btn-add">
                                                    <img src="/images/lazada.png"lt="lazada" class='img_lazada'>
                                                </p>
                                                <p class="btn-details">
                                                    <a href="/category/<%=motphantu.category_unicode%>.<%=motphantu.cat_id%>.html"
                                                        class="hidden-sm"><%=motphantu.category%></a>
                                                </p>
                                            </div>
                                        </div>
                                    <%}%>
                
                                   
                
                                </div>
                            </div>
                        </div>
                        <%})%>
                    </div>
                    <%if(data.length!=0){%>
                        <nav aria-label="Page navigation example" class='padding'>
                            <ul class="pagination" style="padding-left: 450px;margin-top: -27px;">
                                <%if (currentpage==1) {%>
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                                <li class="page-item  active "><a class="page-link" href="?page=1"> 1</a></li>
                                <%}%>
                                <%if (currentpage>1) {%>
                                    <li class="page-item "><a class="page-link" href="?page=<%=previous%>">Previous</a></li>
                                <%}%>

                                <%if (currentpage==1 &&max_page!=1) {%>
                                    <li class="page-item  "><a class="page-link" href="?page=2"> 2</a></li>
                                    <li class="page-item "><a class="page-link" href="?page=3"> 3</a></li>
                                    <li class="page-item  "><a class="page-link" href="?page=4"> 4</a></li>
                                    <li class="page-item  "><a class="page-link" href="?page=5"> 5</a></li>
                                <%}%>
                                
                        
                                <%if (currentpage==2) {%>
                                <li class="page-item   "><a class="page-link" href="?page=1"> 1</a></li>
                                <li class="page-item active "><a class="page-link" href="?page=2"> 2</a></li>
                                <li class="page-item  "><a class="page-link" href="?page=3"> 3</a></li>
                                <li class="page-item  "><a class="page-link" href="?page=4"> 4</a></li>
                                <%}%>
                        
                                <%if (currentpage==3) {%>
                                <li class="page-item   "><a class="page-link" href="?page=1"> 1</a></li>
                                <li class="page-item "><a class="page-link" href="?page=2"> 2</a></li>
                                <li class="page-item active "><a class="page-link" href="?page=3"> 3</a></li>
                                <%}%>
                        
                                <%if (currentpage > 3 ) {%>
                                <li class="page-item "><a class="page-link" href="?page=1"> 1</a></li>
                                <li class="page-item "><a class="page-link" href="?page=2"> 2</a></li>
                                <li class="page-item "><a class="page-link" href="?page=3"> 3</a></li>
                                <%}%>
                        
                                <%if (currentpage > 4 ) {%>
                                <li class="page-item "><a class="page-link" href="#">...</a></li>
                                <%}%>
                            
                                <% for(code=4;code<=max_page;code++){%>
                                <%if (code!=currentpage) {%>
                                <%if (code>currentpage-2 && code<currentpage+2) {%>
                                <li class="page-item"><a class="page-link" href="?page=<%=code%>"> <%=code%></a></li>
                                <%}%>
                                    <%}%>
                    
                                <%if (code==currentpage) {%>
                                <li class="page-item active"><a class="page-link" href="?page=<%=code%>"> <%=currentpage%></a></li>
                                <%}%>
                                <%}%>
                                
                                <%if (currentpage < max_page-3 ) {%>
                                <li class="page-item "><a class="page-link" href="#">...</a></li>
                                <%}%>
                        
                                <%if (currentpage < max_page-2 &&max_page>6 ) {%>
                                <li class="page-item "><a class="page-link" href="?page=<%=max_page-1%>"> <%=max_page-1%></a></li>
                                <%}%>
                                <%if (currentpage < max_page-1 &&max_page>6 ) {%>
                                 <li class="page-item "><a class="page-link" href="?page=<%=max_page%>"> <%=max_page%></a></li>
                                <%}%> 
                                <%}%>
                            
                                <% if(currentpage < max_page){%>
                                <li class="page-item "><a class="page-link" href="?page=<%=next%>" tabindex="-1">Next</a></li>
                                <%}%>
                                <% if(currentpage==max_page){%>
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next </a></li>
                        
                            </ul>
                        </nav> 
                    <%}%>
  
                </div>
            </div>

            </div>

        </div>
        

    </div>
    
    <script>
        let x = document.querySelectorAll(".number");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                .toLocaleString('vi');
            x[i].innerHTML = num;

        }
    </script>
    <link href="/stylesheets/1.css" rel="stylesheet">
    <% include theme/footer %>